@model KelolaPegawai.Models.Pegawai

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Pegawai</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alamat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alamat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TanggalLahir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TanggalLahir)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Divisi.NamaDivisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Divisi.NamaDivisi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NIP }) |
    @Html.ActionLink("Back to List", "Index")
</p>
